.formControl {
  margin: 1;
  min-width: 400px;
}

.selectEmpty {
  margin-top: 2;
}

.MuiButtonBase-root.select-style {
  margin: 0 8px;
}
.MuiButtonBase-root.select-style a {
  text-decoration: none;
}