body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #eeeeee;
  background-color: #34353e;
  font-family: 'Roboto', sans-serif;
}
hr {
  border-color: #ff7f28;
}
p, span, h1, h2, h3, h4, h5 {
  color: #eeeeee;
}
#root .MuiTableCell-head, #root .MuiFormLabel-root, #root .MuiTableCell-body, #root .MuiInputBase-input {
  color: #eeeeee;
}
#root a:hover {
  color: #fb9e5e;
}
#root .MuiTypography-colorPrimary, #root a {
  color: #ff7f28;
}

div#footer {
  background: #272a33;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}

a:visited {
  color: #ff7f28
}

.TournamentPaper {
  background: #272a33;
  color: #eeee;
  padding: 12px;
}
.TournamentPaper h5 {
  font-size: 18px;
  font-weight: 900;
  margin: 10px 0;
}
.tournaments {
  margin-top: 40px;
}

.header {
  background: inherit;
  background-color: #272a33;
  color: #83858b;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 1000;
  margin-bottom: 40px;
  box-shadow: 1px 1px 12px -5px #ff7f29;
}

.mainPage {
  padding-left: 30px;
}

.sideBarHeader {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

#loginModal {
  padding: 30px;
  margin-top: 100px;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  background: #000;
  justify-items: center;
  box-shadow: 1px 4px 18px -2px #ff7f29;
  border: none;
  outline: none;
}
#loginModal h2 {
  margin-top: 0;
}

.carouselItem {
  width: 100%;
  height: inherit;
  position: relative;
  z-index: 1;
}

.carousel-inner-text {
  position: absolute;
  bottom: 0;
  padding: 20px 20px 40px;
  max-width: 50%;
}

.static {
  position: fixed;
}

.sideBarItem {
  height: auto;
  margin-bottom: 36px;
}

.carouselImg {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
.CarouselItem h4 {
  color: #ff7f29;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 0;
}

#container, #sideBar, #landing {
  height: 100%;
}

#root {
  height: 100%
}

#logo {
  float: left;
}

#signinButton {
  display: inline;
  float: right;
  margin: 7px;
}

#carouselText {
  /* background-color: rgba(0, 0, 0, .5); */
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  padding: 15px;
}

.footer {
  height: 50px;
}
ul.navigation {
  display: inline-block;
  padding-left: 0;
}
.navigation li {
  display: inline;
  margin: 0 6px;
}
ul.navigation a {
  text-decoration: none;
}
.MuiCard-root, .MuiCard-root h2 {
  color: #3c3d46;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  background: #a94505;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained:hover {
  box-shadow: 2px 4px 27px -10px #ff9a56;
  background: #f58805;
}
#root .MuiButton-outlinedPrimary, #root .MuiButton-outlined {
  color: #aa4505;
  border: 1px solid rgb(170 69 5);
}
#root .MuiButton-outlinedPrimary:hover, #root .MuiButton-outlined:hover {
  border-color: #f58805;
}
