body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.navBar, .sideBar, .mainPage, .sideBarItem, .footer, .tournaments {
  border: 1px lightgray dotted;
}

#navigation {
  top: 0;
  left: 0;
  right: 0;
}

#loginModal {
  margin: 50px;
  background: rgba(255, 255, 255, 1.0);
  height: 50%;
  justify-items: center;
}

#loginContainer {
  margin: 50px;
}

.carouselItem {
  width: 100%;
  height: inherit;
  position: relative;
  z-index: 1;
}

.static {
  position: fixed;
}

.sideBarItem {
  height: auto;
}

.carouselImg {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}

#container, #sideBar, #landing {
  height: 100%;
}

#root {
  height: 100%
}

#logo {
  float: left;
  margin: 15px;
}

#signup {
  display: inline;
  float: right;
  margin: 15px;
}

#carouselText {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.footer {
  height: 50px;
}